#Note-Pop-up {
    background-color: #cec8b9;
    z-index: 10 ;
    position: fixed;
    top: 25%;
    left: 25vw;
    min-height: 60vh;
    width: 50vw;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


#Note-Pop-up input,
#Note-Pop-up textarea {
    background-color: #cec8b9;
    border: none;
    outline: none;
    resize: none;
    width: 95% !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    padding: 1vw;
    font-size: 1.5vw;
}


#Note-Pop-up input {
    height: 4vh;
}

#Note-Pop-up textarea {
    margin-top: 1vh;
    height: 35vh;
}





.flex-buttons {
    margin: 5vh 1vw 0 0;
    display: flex;
    flex-direction: row-reverse;
}

.flex-buttons div {
    cursor: pointer;
}

.plus-icon {

    transform: scale(1.5);
}




/* ------------------  CSS FOR ANIMATIONS  -------------------- */


.scale-in-br {
    -webkit-animation: scale-in-br 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: scale-in-br 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}



@-webkit-keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}







/* --------------------  MEDIA queries  ----------------------- */






@media only screen and (max-width: 600px) {
    #Note-Pop-up {
        top: 20%;
        left: 10vw;
        min-height: 40vh;
        width: 70vw;
        padding: 2vh 4vw;
        border-radius: 1vw;
    }

    .flex-buttons {
        margin: 0;
    }

    #Note-Pop-up input,
    #Note-Pop-up textarea {
        font-size: 4.4vw;
    }
}