.parent-note-icon{
    height: 9vh;
    /* width: 40px; */
    aspect-ratio: 1/0.9;
    background-color: #734928;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.note-icon{
    color: #d8d4c8;
}



@media screen and (max-width: 930px){
    .parent-note-icon{
        bottom: 5vh;
        right: 5vh;
    }

    .note-icon{
        transform: scale(1.5);
    }
}